.auth-page {
    display: block;
    background-color: var(--bg-white);
    min-height: 100dvh;
}

.form-paper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-container {
    padding: var(--padding-cart);
}