:root{
  --border-radius: 10px;

  /* shadows */
  --shadow-cart: 0 16px 40px rgba(128, 144, 176, 0.3),
  0 4px 16px rgba(128, 144, 176, 0.3);

  /* paddings */
  --padding-cart: 24px 36px;

  /* margins */
  --margin-cart: 12px;

  /* colors */
  --bg-white: #f6f6f6;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-white);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
